# 심플자료구조......

In [1]:
##
fruits = "사과 복숭아 귤 배"
print("수박" in fruits)
print("있음" if "수박" in fruits else "없음")
print("있음" if "복숭아" in fruits else "없음")

False
없음
있음

In [5]:
##
str_value="dfoijasdoivjsdaoivjdosijvoiwajoiawejvoieawjvoiwejoiajweov"
print(len(str_value))
print(str_value.count("a"))

57
6

# 02_자료구조

- 리스트, 튜플
    - 순서가 있다. 원소들을 index 번호로 관리한다.
    - 리스트는 원소를 바꿀 수 있다.
    - 튜플은 원소를 바꿀 수 없다.

In [8]:
a1=[10,20,30,40,50,60,70,80,90,100]
# 조회 : indexing - 원소 하나
#      : slicing - 범위로 조회
print(a1[0], a1[1], a1[2])

10 20 30

In [9]:
print(a1[1:4])

[20, 30, 40]

In [12]:
# 리스트는 값 변경 가능
print(a1)
a1[0] = 1000
print(a1)

[1000, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[1000, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [14]:
print(a1)
a1[1:3]
a1[1:3] = [1,2,3,4,5]  # 범위를 넘어서 추가한것
print(a1)

[1000, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[1000, 1, 2, 3, 4, 5, 40, 50, 60, 70, 80, 90, 100]

In [23]:
# 중첩 리스트 - 리스트의 원소가 리스트
a3 = [
    [1,2,3],
    ['가','나','다','라'],
    [True, False],
    [10,20,30]
]
print(a3[0])
print(a3[2][1])
print(a3[1][1:])

[1, 2, 3]
False
['나', '다', '라']

## 리스트의 Slicing은 deep Copy이다.
- deep copy : 복사본을 바꿔도 원본은 안바뀐다. -> 바로가기 개념
- shallow copy : 복사본을 바꾸면 원본도 같이 바뀐다. -> Soft link 개념

In [27]:
a4 = [1,2,3,4,5,6,7,8,9,10]
a5 = a4[:5]
print(a5, a5[1])
a5[0] = 100
print(a5)

[1, 2, 3, 4, 5] 2
[100, 2, 3, 4, 5]

In [28]:
print(a4)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
print(a1, a3)
b = a1+a3
print(b)

[1000, 1, 2, 3, 4, 5, 40, 50, 60, 70, 80, 90, 100] [[1, 2, 3], ['가', '나', '다', '라'], [True, False], [10, 20, 30]]
[1000, 1, 2, 3, 4, 5, 40, 50, 60, 70, 80, 90, 100, [1, 2, 3], ['가', '나', '다', '라'], [True, False], [10, 20, 30]]

In [33]:
c = a3*3
print(c)

[[1, 2, 3], ['가', '나', '다', '라'], [True, False], [10, 20, 30], [1, 2, 3], ['가', '나', '다', '라'], [True, False], [10, 20, 30], [1, 2, 3], ['가', '나', '다', '라'], [True, False], [10, 20, 30]]

In [35]:
print("가" in c)
print("나" in c)

False
False

In [36]:
print(len(c)) # 원소 개수

12

In [42]:
result = [] # 결과값들을 저장할 변수
result.append('결과1') 
result.append('결과2') # append는 점점 뒤에다가 추가하는 명령어
result.append('결과3')

In [43]:
print(result)

['결과1', '결과2', '결과3']

In [44]:
# pop은 list에서 뒤에서부터 하나씩 빠진다.
x = result.pop()
print(result)
y = result.pop()
print(result)
z = result.pop()
print(result)

['결과1', '결과2']
['결과1']
[]

In [45]:
print(x,y,z)

결과3 결과2 결과1
결과1 결과2 결과3

# 정렬.
    - 변수.sort() : 원본자체를 정렬
    - 변수2 = sorted(변수) : 새 변수에 기존값을 정렬시켜서 대입
    - sorted('가마나') : ('가마나')를 정렬 후 출력

In [46]:
a7 = [1,6,3,2,7,0,19,71]

In [47]:
a8 = sorted(a7)  # 기본값, 오름차순 정렬
a9 = sorted(a7, reverse=True) # 내림차순 정렬
print(a8)
print(a9)

[0, 1, 2, 3, 6, 7, 19, 71]
[71, 19, 7, 6, 3, 2, 1, 0]

In [48]:
print(a7)

[1, 6, 3, 2, 7, 0, 19, 71]

In [49]:
a7.sort() # list.sort() 메소드: 원본 자체를 정렬

In [50]:
a7

[0, 1, 2, 3, 6, 7, 19, 71]

In [51]:
a7.sort(reverse=True)  #
print(a7)

[71, 19, 7, 6, 3, 2, 1, 0]

In [52]:
sorted('가마나')

['가', '나', '마']

## Tuple (튜플)
- 생성
    - (v1, v2, v3)
    - 소괄호는 생략 가능
        - 1,2,3 (1,2,3)

In [53]:
v1 = (1)
print(type(v1), v1)
v2 = (1,)
print(type(v2), v2)

<class 'int'> 1
<class 'tuple'> (1,)

In [54]:
v4 = 1,2,3,4,5,6,7,8,9

In [55]:
# 튜플대입
v5,v6 = (10,20)
print(v5, v6)

10 20

In [56]:
v7, v8 = 100,200
print(v7, v8)

100 200

In [58]:
v9, v10 = 100, 200, 300 # 변수 개수 == 원소 개수    일치하지 않기 때문에 에러남

ValueError: too many values to unpack (expected 2)

In [61]:
# 값 조회 - indexing, slicing 으로 조회
# indexing
print(v4[0], v4[-1])

# clising
print(v4[3:7])

1 9
(4, 5, 6, 7)

In [62]:
# 원소 변경은 안된다.
v4[0] = 100

TypeError: 'tuple' object does not support item assignment

In [63]:
# 연산자
# tuple + tuple : 합치기
v1 = 1,2,3
v2 = 10,20,30
print(v1 + v2)

(1, 2, 3, 10, 20, 30)

In [64]:
v4 = v1*5
print(v4)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

# 딕셔너리

# dictionary (사전)
- key-value 쌍으로 값들을 모아서 관리.
- key는 중복을 허용안함. value는 중복 허용
- key의 타입은 불변의 값 타입만 가능.
    - 보통 문자열이나 정수를 사용.
- 생성
    - {key:value, key:value, ...}
- 조회
    - 사전[key] : value를 반환. (없는 key로 조회하면 Error 발생)
    - 사전.get('key') : value를 반환. (없는 key로 조회하면 None을 반환)
    - 사전.get('key', 값) : 없는 key이면 옆에 추가한 값을 반환
- 값을 변경/추가
    - 사전[key] = 값 (없는 key이면 추가. 있는 key면 변경)
 
 
### dict() 함수를 이용해 딕셔너리 생성

In [67]:
fruits = {'사과':30, '귤':20, '배':10}

In [68]:
fruits = {'사과':30, '귤':20, '배':10}
print(fruits, type(fruits))

{'사과': 30, '귤': 20, '배': 10} <class 'dict'>

In [70]:
fruits.get('귤')

20

In [76]:
fruits.get('수박', 100000)

100000

In [74]:
print(fruits.get('수박')) # 없는 값이니 None이 찍힘

None

In [80]:
fruits['귤'] = 200
fruits

{'사과': 30, '귤': 200, '배': 10}

In [82]:
fruits['수박'] = 10 # 없는 거라서 딕셔너리에 추가됨.
fruits

{'사과': 30, '귤': 200, '배': 10, '수박': 10}

In [84]:
d = dict(사과=10, 배=20, 귤=50) #key=value
print(d)

{'사과': 10, '배': 20, '귤': 50}

In [85]:
# 사전에 key가 있는지 없는지 확인
'사과' in d

True

In [86]:
'복숭아' in d

False

In [88]:
print(d.keys())
print(d.values())

dict_keys(['사과', '배', '귤'])
dict_values([10, 20, 50])

# set(집합)

# set (집합)
- 중복을 허용하지 않는다.
- 생성
    - {값, 값, 값, ..}
    - {} : 빈 dictionary

In [117]:
s1 = {1,2,3,4,5}
print(s1, type(s1))

{1, 2, 3, 4, 5} <class 'set'>

In [118]:
s2 = {1,1,1,2,2,2,2,3,3,3}
print(s2)

{1, 2, 3}

In [119]:
# 조회 - indexing/slicing은 안된다. - 
# 원소 하나씩 조회할 경우 for문(반복문)을 사용하거나 리스트로 변환뒤 indexing/slicing가능
s2[0]

TypeError: 'set' object is not subscriptable

In [120]:
l = list(s2) # list(set/튜플/사전) set/튜플/사전을 리스트로 변환. (사전: key값들만.)
l[0]

1

In [121]:
# set | set  (| - shift-\) => 합집합
s1 = {1,2,3}
s2 = {3,4,5}
print(s1 | s2)
# set & set : 교집합
print(s1 & s2)
# set - set : 차집합
print(s1 - s2)

{1, 2, 3, 4, 5}
{3}
{1, 2}

## 변환함수
- list() : 자료구조를 리스트로 변환
- tuple() : 자료구조를 튜플로 변환
- set() : 자료구조를 set으로 변환

In [123]:
l = [1,1,2,3,4,4,4]
set(l) #리스트나 튜플에서 중복 값들을 제거.

{1, 2, 3, 4}

In [124]:
list(set(l))

[1, 2, 3, 4]

In [125]:
print(1+1)

2

In [126]:
print(list(set(l)))

[1, 2, 3, 4]

In [127]:
a = set(l)
b = list(a)
print(b)

[1, 2, 3, 4]

In [128]:
tuple(l)

(1, 1, 2, 3, 4, 4, 4)

In [129]:
s1.remove(2)

In [130]:
s1

{1, 3}

In [131]:
s1.remove(7) #없는 값 삭제시 에러 발생.

KeyError: 7

In [132]:
s1.add(10)
s1

{1, 3, 10}

In [133]:
s1.add(10)

In [134]:
s1

{1, 3, 10}

In [135]:
s1.update([5,6,7])
s1

{1, 3, 5, 6, 7, 10}

### 주피터노트북 : ! 명령프롬프트로 명령어 실행

In [91]:
!True

'True'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.

# if문 (조건문/분기문)

In [98]:
num = 0
# num이 양수이면 양수라고 출력. 아니면 음수라고 출력.
if num>0:
    print('양수')
elif num<0:
    print('음수')
else:
    print(0)
#elif num==0:
#    print('0')

0

In [102]:
city = input('도시명: ').strip()
# city = city.strip()
result = '{}는 {}입니다.'
if city=='서울' or city=='서울시':
#if (city=='서울') | (city=='서울시'):    
    print(result.format(city,'특별시'))
elif city in ['대구', '부산','광주','울산''인천']:
    print(result.format(city, '광역시'))
elif city in '제주':
    print(result.format(city, '자치시'))
else:
    print(result.format(city,'일반시'))

도시명: 서울
서울는 특별시입니다.

In [104]:
id = input("ID: ").strip() #strip()은 앞뒤 공백 제거
# print(len(id))
# if len(id)!=0:
if id: # 빈문자열은 False, 1글자 이상이면 True
    print(id+" 등록")
else:
    print("ID를 입력하세요")

ID: 1
1 등록

In [113]:
num1 = input("num1: ") #input은 입력받은 문자열을 반환
num2 = input("num2: ")
x = int(num1) # 정수로 변환
y = int(num2)
if y!=0:
    b = x/y
    print(b)
else:
    print('num2는 0은 안됩니다')
    num2 = input('다시입력하세요:')
    y = int(num2)
    if y!=0:
        print(x/y)
    else:
        print("계산할 수 없습니다. 종료")
print('종료')

num1: 5
num2: 1
5.0
종료

# 2. 자료구조 과제

In [114]:
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]

In [115]:
# 위는 1번 ~ 10번까지 10명의 시험 점수이다. 
#(1)  7번의 점수를 출력하시오 
print(jumsu[6])

80

In [137]:
#(2)  1번부터 5번까지의 점수를 출력하시오.
print(jumsu[0:5])

[100, 90, 100, 80, 70]

In [138]:
#(3)  4, 5, 6, 7번의 점수를 출력하시오.
print(jumsu[3:7])

[80, 70, 100, 80]

In [140]:
#(4) 짝수번째 점수를 출력하시오.
print(jumsu[1::2])

[90, 80, 100, 90, 85]

In [141]:
#(5) 홀수번째 점수를 출력하시오.
print(jumsu[0::2])

[100, 100, 70, 80, 95]

In [142]:
#(6) 9번의 점수를 20으로 변경하고 전체 출력하시오.
jumsu[8]=20
print(jumsu)

[100, 90, 100, 80, 70, 100, 80, 90, 20, 85]

In [147]:
#(7) 중복된 점수는 제거하고 하나씩만 나오도록 출력하시오.

list(set(jumsu))

#mun7 = {jumsu}
#print(mun7, type(mun7))

[100, 70, 80, 20, 85, 90]

In [154]:
#(8)본인의 이름, 나이, email주소, 취미, 결혼유무를 사전(딕셔너리)으로 생성. 
# 취미는 2개 이상의 값을 넣는다..

me = {'이름':'김김김', '나이':20, 'email주소':'set@naver.com', '취미':'게임' or '독서', '결혼유무':'무'}
print(me, type(me))

me2 = dict(이름='김김김', 나이=20, email주소='set@naver.com', 취미='게임' or '독서', 결혼유무='무')
print(me2, type(me2))

{'이름': '김김김', '나이': 20, 'email주소': 'set@naver.com', '취미': '게임', '결혼유무': '무'} <class 'dict'>
{'이름': '김김김', '나이': 20, 'email주소': 'set@naver.com', '취미': '게임', '결혼유무': '무'} <class 'dict'>

In [158]:
#(9) 위 사전에서 이름과 email주소를 조회해서 출력

print(me['email주소'])
me2.get('이름')

set@naver.com

'김김김'

In [160]:
#(10) 위 사전에서 취미중 두번째 취미를 조회해서 출력
me2.get('취미', '게임')

'게임'