In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6]]))

In [3]:
print(df.shape)

(2, 3)

In [40]:
df = pd.DataFrame({"A":[1,4,7,9], "B":[2,5,89,9], "C":[3,6,9,8], "D":[3,6,9,7], "E":[3,6,9,5], "F":[3,6,9,1], "G":[3,6,9,2], "H":[3,6,9,3], "I":[3,6,9,4], "J":[3,6,9,5], "K":[3,6,9,7], "L":[3,6,9,5], "M":[3,6,9,5], "N":[3,6,9,2], "O":[3,6,9,7]})
display(df)

   A   B  C  D  E  F  G  H  I  J  K  L  M  N  O
0  1   2  3  3  3  3  3  3  3  3  3  3  3  3  3
1  4   5  6  6  6  6  6  6  6  6  6  6  6  6  6
2  7  89  9  9  9  9  9  9  9  9  9  9  9  9  9
3  9   9  8  7  5  1  2  3  4  5  7  5  5  2  7

In [41]:
print(df.shape)

(4, 15)

In [42]:
df = df.values

In [43]:
print(df.shape)

(4, 15)

In [44]:
display(df)

array([[ 1,  2,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3],
       [ 4,  5,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6],
       [ 7, 89,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9],
       [ 9,  9,  8,  7,  5,  1,  2,  3,  4,  5,  7,  5,  5,  2,  7]],
      dtype=int64)

In [49]:
df1 = df.reshape(2,1,15,2)

In [50]:
display(df)

array([[ 1,  2,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3],
       [ 4,  5,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6],
       [ 7, 89,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9],
       [ 9,  9,  8,  7,  5,  1,  2,  3,  4,  5,  7,  5,  5,  2,  7]],
      dtype=int64)

In [51]:
df.shape

(4, 15)